/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese);*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
  color: #000;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    outline: 0;
}
a, a:focus, a:hover, a:active{
  text-decoration: none;
}
a:focus, select:focus, input:focus, button:focus{
  outline: none;
}
a {
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

p{
  margin: 0; padding: 0;
  line-height: 1.3;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;  
  font-weight: 600; 
  margin: 0; padding: 0 
}
h1, h2, h3, h4, h5{
  text-transform: uppercase;
}
h6{
  text-transform: none;
}
h2{
  color:#000;
  font-size: 28px;
  margin-bottom: 10px;
}

h1, h2{
  font-weight: 400;
}
h3, h5{
  font-weight: 700;
}
h4, h6{
  font-weight: 600;
}
h3{
  margin-top: 15px;
  margin-bottom: 15px;
}
h5{
  margin-top: 17px;
  margin-bottom: 17px;
}
/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  width: 100%;
  height: auto;
}
img{
  max-width: 100%;
  height: auto;
}
/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
/************************************************************************************
CUSTOMIZE BOOSTRAP
*************************************************************************************/
.row {
    margin-right: -6px;
    margin-left: -6px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-right: 6px;
  padding-left: 6px;
}
/*========title chung======*/
#wrap-magazine,
#real-estate,
#travel-edu,
#four-seasons,
#health-taste{
  margin-bottom: 20px;
}
#wrap-magazine .title.magazine,
#real-estate .title.real,
#travel-edu .title.travel,
#four-seasons .title.seasions{
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#health-taste .title.health,
#health-taste .title.taste{
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#wrap-magazine .title h2,
#health-taste .title h2,
#real-estate .title h2,
#travel-edu .title h2,
#four-seasons .title h2{
  text-align: center;
}
#health-taste .title h2 a,
#real-estate .title h2 a,
#travel-edu .title h2 a,
#four-seasons .title h2 a{
  color: #000;
}
#health-taste .title h2 a:hover,
#real-estate .title h2 a:hover,
#travel-edu .title h2 a:hover,
#four-seasons .title h2 a:hover{
  color: #E30513;
}
#wrap-magazine .title div.line,
#health-taste .title div.line,
#real-estate .title div.line,
#travel-edu .title div.line,
#four-seasons .title div.line{
  position: relative;
  width: 100%;
  text-align: center;
  height: 1px;
  background-color: #b3b3b3;
}
#wrap-magazine .title div.line span.icon-dotted-01,
#health-taste .title div.line span.icon-dotted-01,
#real-estate .title div.line span.icon-dotted-01,
#travel-edu .title div.line span.icon-dotted-01,
#four-seasons .title div.line span.icon-dotted-01{
  position: absolute;
  top: -8px;
  z-index: 999;
  color: #6D6E70;
}
#wrap-magazine .title div.line span.icon-dotted-01:before,
#health-taste .title div.line span.icon-dotted-01:before,
#real-estate .title div.line span.icon-dotted-01:before,
#travel-edu .title div.line span.icon-dotted-01:before,
#four-seasons .title div.line span.icon-dotted-01:before{
  position: absolute;
  top: -5px;
  left: 15px
}
#wrap-magazine .title.magazine div.line span,
#health-taste .title.health div.line span,
#health-taste .title.taste div.line span,
#real-estate .title.real div.line span,
#travel-edu .title.travel div.line span,
#four-seasons .title.seasions div.line span{
  background-color: #fff;
  position: absolute;
  width: 60px;
  height: 15px;
  left: 45%;
}
#wrap-magazine .title.magazine div.line span{
  background-color: #ECECEC;
}
#wrap-magazine.wrap-magazine-view .title.magazine div.line span,
#wrap-magazine.wrap-magazine-related .title.magazine div.line span{
  background-color: #fff;
}

/*--hover --*/
.article-all .show-article figure figcaption a{
  color: #000;
}
.article-all .show-article figure figcaption a:hover{
  color: #E30513;
}
